@font-face {
    font-family: faith;
    src: url(fonts/Faith\ Collapsing.woff2);
}

@font-face {
    font-family: lazy;
    src: url(fonts/lazy_dog.woff2);
}

@font-face {
    font-family: tnanti;
    src: url(fonts/TNanti-Demo.woff2);
}

@font-face {
    font-family: ugly;
    src: url(fonts/UglyDaveAlternates.woff2);
}

@font-face {
    font-family: castle;
    src: url(fonts/BlackCastleMF.woff2);
}

@font-face {
    font-family: wanted;
    src: url(fonts/Wantedo.woff2);
}

@font-face {
    font-family:manu;
    src: url(fonts/manuskript-regular.woff2)
}

@font-face {
    font-family:buka;
    src: url(fonts/Buka\ Bird.woff2)
}

@font-face {
    font-family:plane;
    src: url(fonts/PLANE___.woff2)
}

@font-face {
    font-family:space;
    src: url(fonts/Space\ Encounter\ .woff2)
}