* {
    box-sizing: border-box;
}

html {
    background: url(/!s/!img/cinema/em2.png);
    background-size: 1800px;
    background-attachment: fixed;
    padding: 20px;
    color: white;
    image-rendering: pixelated;
    overflow: hidden;
}

body {
    background:#00000094;
    padding:30px;
    max-width: 980px;
    height:max-content;
    margin: auto;
}

.back {
    float:right;
    width:120px;
    font-size: 20px;
    color:white;
}

.back:hover {
    transform:rotate(1deg);
}

a {
    color:white;
}

.opener {
    position:absolute;
    background: url(/!s/!img/cinema/em1.png) ;
    background-size: 1550px;
    background-attachment: fixed;
    background-position: center;
    display:block;
    z-index:1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.opener .img {
    position:absolute;
    background: url(/!s/!img/cinema/em12.png) ;
    background-size: 1550px;
    background-attachment: fixed;
    background-position: center;
    display:block;
    z-index:2000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding-top:500px;
    transition:.3s;
    animation: glow 3s ease-in-out infinite;
    opacity:.7;
}

@keyframes glow {
    0% {
        filter: brightness(.75) drop-shadow(1px -2px 6px #BD6A2E);
    }
    50% {
        filter: brightness(.75) drop-shadow(1px -2px 12px #BD6A2E);
    }
    100% {
        filter: brightness(.75) drop-shadow(1px -2px 6px #BD6A2E);
    }
}

.opener .img div {
    font-size: 36px;
    border:solid transparent;
    padding-top:20px;
    text-align: center;
    margin-left:245px;
    height:270px;
    transform: perspective( 180px ) rotateY( -4deg ) rotatex(1deg);
}

.opener #bgmbtn {
    position:relative;
    z-index:10000;
    top:-120px;
    border:solid 2px #E2A867;
    opacity:0;
    color:#ffefd5;
    background:#3E7C62;
    margin:auto;
    border-radius: 0;
    filter:drop-shadow(0 1.5px 0 black) drop-shadow(1.5px 0 0 black);
}

.opener #bgmbtn:hover {
    transform: scale(1.05);
}

.img div p {
    border:solid transparent;
    width:170px;
    padding-top:130px;
    height:300px;
    margin:auto;
    cursor: pointer;
    filter:drop-shadow(0 1.5px 0 black) drop-shadow(1.5px 0 0 black);
    transition:.3s;
    opacity:0;
}

.img:has(div p:hover), .img:has(div #bgmbtn:hover) {
    opacity:1;
}

.img div:has(p:hover) *, .img div:has(button:hover) * {
    opacity:1 !important;
}

.wrap {
    pointer-events: none;
}

h1,h2 {
    margin:3px;
}
h2 {
    margin-bottom:12px;
    font-size:20px;
}

.grid {
    display: grid;
    padding: 20px;
    margin-top: 20px;
    transition: height 0.3s ease;
}

.title {
    display: inline-block;
    width: 60px;
}

.item {
    position: relative;
    width: 160px;
    height: 250px;
    object-fit: cover;
    display: block;
    transition:.5s;
    margin: .5em;
}

.poster {
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering:initial;
    filter:drop-shadow(0 0 5px #200000)
}

.item:has(.poster:hover) {
    transform:scale(1.05);
    filter: saturate(75%);
}

.metadata {
    display: none;
}

.button-group {
    display: flex;
  flex-wrap: wrap;
}

button {
    color: #ffd6c1b9;
    background: #84523d4f;
    border: none;
    margin:5px;
    padding:1.5px;
    padding-right:15px;
    padding-left:15px;
    cursor:pointer;
    border-radius: 3px;
    transition: .5s;
}

.is-checked, button:hover {
    color:#ffefd5;
    background: #cd323291;
    filter:drop-shadow(0 0 1.5px #E2A867);
}

.overlay {
    position:absolute;
    width:100%;
    height:0%;
    background:#00000099;
    transition:.5s;
    object-fit: cover;
    overflow:hidden;
    pointer-events: none;
    opacity:0;
}

.overlayinfo {
    padding:10px;
    padding-top:90px;
    text-align: center;
    opacity:.9;
    margin:auto;
}

.overlayinfo h4, .overlayinfo h5 {
    margin:0px;
    margin-top:5px;
}

.overlayinfo h4 {
    font-size:14px;
}

.overlayinfo h5 {
    font-size:13px;
}

.item:hover .overlay {
    height:100%;
    opacity:1;
}
