@import url(/!s/tooltip.css?v=2);
@import url(/!s/reset.css);

* {
    box-sizing: content-box;
}

html {
    background: url(/!s/!img/about/bg.jpg) center / 30%;
}

body {
    max-width:999px;
    margin:auto;
    justify-content: center;
    padding:60px;
}

.back {
    position:absolute;
    left:0;
    top:0;
    width:111px;
    filter:drop-shadow(0 0 3px);
    transition: .5s;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:80px;
    filter:drop-shadow(0 0 18px);
}

main {
    background: url(/!s/!img/about/wanted.jpg) center / cover;
    text-align: center;
    padding:40px;
    height:650px;
    transform:rotate(-1deg);
    font-family:harvester;
    letter-spacing:4px;
    clip-path: url(#ragged-image-border);
    transition:.3s;
    border-radius:3px 2px 5px 4px;
    text-transform: uppercase;
}

main:hover, #toggleM:hover {
    transform:scale(1.1);
}

#toggleM {
    transform:rotate(.4deg);
    border-radius:4px 5px 2px 3px;
}

h1 {
    font-size:65px;
    margin:0px;
    letter-spacing:10px;
    pointer-events: none;
}

main h2:first-of-type {
    border-top:solid;
    border-bottom:solid;
    padding:8px;
    margin:5px;
    font-size:28px;
    letter-spacing:2px;
    margin-left:20px;
    margin-right:20px;
    pointer-events: none;
}

main img {
    width:90%;
    height:222px;
    object-fit: cover;
    pointer-events: none;
    object-position: 0px 0px;
    image-rendering:initial;
}

main h2:nth-of-type(2) {
    font-size:32px;
    margin:0px;
    letter-spacing:4px;
    pointer-events: none;
}

main h3 {
    margin:15px;
    border-top:solid;
    border-bottom:solid;
    padding:16px;
    margin-left:40px;
    margin-right:40px;
    font-size:26px;
    pointer-events: none;
}

main h4 {
    margin:0px;
    font-size:20px;
    pointer-events: none;
}

.content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-bottom:-640px;
    pointer-events: none;
    height:96%;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}
a {
    color:inherit;
    text-decoration: none;
    display:block;
}