@import url(https://use.typekit.net/lvi0exf.css);

.tooltip{
	position: absolute;
    display:none;
	max-width:240px;
	min-width: 180px;
	z-index:100;
	margin:15px 12px 7px 15px !important;
	padding:18px;
    padding-top:12px;
    padding-bottom:12px;
    background-image:url(/!s/!svg/tt.svg);
    background-size: 100% 100%;
	border-radius:6px;
	font-size:18.5px;
	line-height:18px;
	color:#faf7df;
    text-align: center;
    font-family: black-beard;
    letter-spacing: .8px;
	-webkit-font-smoothing: antialiased;
}